# Supabase Configuration

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhkZWxyeXZ5Ynpud3hkZ3VscWZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTE5MDQwNDgsImV4cCI6MjA2NzQ4MDA0OH0.KiGSRuFXy5djTGBIOeZAgTQI6psaF0n317N9WAylWTY
VITE_SUPABASE_URL=https://xdelryvybznwxdgulqfz.supabase.co

# # Google Drive API Configuration (para implementación futura)
# VITE_GOOGLE_DRIVE_API_KEY=your_google_drive_api_key_here
# VITE_GOOGLE_CLIENT_ID=your_google_client_id_here
# VITE_GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Folder ID donde se guardarán los archivos
VITE_GOOGLE_DRIVE_FOLDER_ID=1OA2eNSHKP0p6iQHvwAEpbJ9GUyJJoWEf
